<?xml version="1.0"?>
      <connectionStrings>

            <add name="MainDb2" 

                  providerName="System.Data.SqlClient"

                  connectionString="Initial Catalog=FundDbMin;Data Source=localhost; Integrated Security=True" 

        />


           <add name="MainDb" 

                  providerName="System.Data.SqlClient"

                  connectionString="Initial Catalog=FundDb;Data Source=npf-srv-db1;User Id=RfAspNet;Password=Temp123;" 

        />

            <add name="LogDb" 

                  providerName="System.Data.SqlClient"

                  connectionString="Initial Catalog=FundLogDb;Data Source=localhost; Integrated Security=True"

        />


        </connectionStrings>

