<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rf.oauth" type="RF.Sts.Auth.Configuration.OAuthConfiguration, RF.Sts.Auth"/>
  </configSections>
  <rf.oauth>
    <sts url="http://ipv4.fiddler:333/api/basic/issue/" />
    <client tokensstore="RF.Sts.Auth.FileTokensStoreProvider, RF.Sts.Auth" formsauth=".STSAUTH" wcfds="RF.WcfDS.OAuth.ClientDrivenBehavior, RF.WcfDS.OAuth" />
  </rf.oauth>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
