<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xbrl" type="XbrlBuilder.Configuration.ProgCfg, XbrlBuilder.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <xbrl>
    <settings reportdate="2018-03-31" reportperiodbegin="2018-01-01" id="1147799009764" matter="Предметная область отчетности" number="258" />
    <totals lifetimeRes="5090456.74" lifetimeResOnBegin="25817913.74" lifetimeResTrans="5555" npoPaid="727457" />
    <npf fullname="АКЦИОНЕРНОЕ ОБЩЕСТВО &quot;НЕГОСУДАРСТВЕННЫЙР&quot;"
         name="АО" inn="7704300652" ogrn="1147799011634" okato="45286590000" lic="67/2"
         addr="125009, город Москва" email="npf@npf.ru" phone="+7 (495) 745 5211" />
    <staff>
      <member role="Author" position="Главный специалист надзорной отчетности" ln="Соколов" fn="Евгений" sn="Петрович" phone="+7 (495) 745 5211" />
    </staff>
  </xbrl>
</configuration>